
.holy-grail-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 3fr 1fr;
        grid-template-columns: 1fr 3fr 1fr;
    -ms-grid-rows: 1fr 8fr 1fr;
        grid-template-rows: 1fr 8fr 1fr;
    grid-gap: 20px;
    height: 100vh;
  }
  
  @media screen and (max-width: 60em) {
    .holy-grail-grid {
      -ms-grid-rows: 2fr 1fr 5fr 1fr;
          grid-template-rows: 2fr 1fr 5fr 1fr;
    }
  }
  

  /* Columns and Rows */
  .holy-grail-left,
  .holy-grail-middle,
  .holy-grail-right,
  .holy-grail-footer {
    padding: 1rem;
    border: 1px solid #ededed;
    background-color: #ededed;
  }

  .holy-grail-header {
      background-color: darkslategrey;
      text-align: center;
      border: 1px solid;
      color: white;
      padding: 1rem;
  }
  
  .holy-grail-header {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 4;
    -ms-grid-row: 1;
        grid-row-start: 1;
  }
  
  @media screen and (max-width: 60em) {
    .holy-grail-left {
      -ms-grid-row: 2;
          grid-row-start: 2;
      -ms-grid-column: 1;
          grid-column-start: 1;
      grid-column-end: 4;
    }
  }
  
  @media screen and (max-width: 60em) {
    .holy-grail-middle {
      -ms-grid-row: 3;
          grid-row-start: 3;
      -ms-grid-column: 1;
          grid-column-start: 1;
      grid-column-end: 4;
    }
  }
  
  @media screen and (max-width: 60em) {
    .right-nav {
      -ms-grid-row: 4;
          grid-row-start: 4;
      -ms-grid-column: 1;
          grid-column-start: 1;
      grid-column-end: 4;
    }
  }
  
  .holy-grail-footer {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 4;
  }
  
/*SEARCHBAR CSS */
.animated-search-form[type=search] {
    width: 10rem;
    border: 0.125rem solid #e6e6e6;
    box-shadow: 0 0 3.125rem rgba(0, 0, 0, 0.18);
    border-radius: 0;
    background-image: url("https://image.ibb.co/i7NbrQ/search_icon_15.png");
    background-position: 0.625rem 0.625rem;
    background-repeat: no-repeat;
    padding: 0.75rem 1.25rem 0.75rem 2rem;
    transition: width 0.4s ease-in-out;
  }
  
  .animated-search-form[type=search]:focus {
    width: 100%;
  }
  
  
  